{
    email {$EMAIL}
}

vaultwarden.{$DOMAIN}:443 {
	reverse_proxy /notifications/hub vaultwarden:3012
	reverse_proxy vaultwarden:80 {
		header_up X-Real-IP {remote_host}
	}
}

actual.{$DOMAIN}:443 {
	reverse_proxy actual_server:5006 {
		header_up X-Real-IP {remote_host}
	}
}

jellyfin.{$DOMAIN}:443 {
	reverse_proxy jellyfin:8096 {
		header_up X-Real-IP {remote_host}
	}
}

nextcloud.{$DOMAIN} {
	encode gzip zstd

        redir /.well-known/carddav /remote.php/dav 301
        redir /.well-known/caldav /remote.php/dav 301

	header {
		Strict-Transport-Security max-age=15552000;
	}

	reverse_proxy nextcloud:80 {
		header_up X-Real-IP {remote_host}
	}
}
