{
    email {$EMAIL}
}

vault.{$DOMAIN}:443 {
	reverse_proxy /notifications/hub vaultwarden:3012
	reverse_proxy vaultwarden:80 {
		header_up X-Real-IP {remote_host}
	}
}

budget.{$DOMAIN}:443 {
	reverse_proxy actual_server:5006 {
		header_up X-Real-IP {remote_host}
	}
}

stream.{$DOMAIN}:443 {
	reverse_proxy jellyfin:8096 {
		header_up X-Real-IP {remote_host}
	}
}

drive.{$DOMAIN} {
	encode gzip zstd

        redir /.well-known/carddav /remote.php/dav/ 301
        redir /.well-known/caldav /remote.php/dav/ 301

	header {
		Strict-Transport-Security max-age=15552000;
	}

	reverse_proxy nextcloud:80 {
		header_up X-Real-IP {remote_host}
	}
}

office.{$DOMAIN} {
	reverse_proxy nextcloud-code:9980 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

photos.{$DOMAIN} {
	reverse_proxy immich_server:2283 {
		header_up X-Real-IP {remote_host}
	}
}

download.{$DOMAIN} {
	reverse_proxy gluetun-transmission:9091 {
		header_up X-Real-IP {remote_host}
	}
}

gotify.{$DOMAIN} {
	reverse_proxy gotify:80 {
		header_up X-Real-IP {remote_host}
	}
}

bookmarks.{$DOMAIN} {
	reverse_proxy linkding:9090 {
		header_up X-Real-IP {remote_host}
	}
}

portfolio.{$DOMAIN}:443 {
	reverse_proxy ghostfolio:3333 {
		header_up X-Real-IP {remote_host}
	}
}

feed.{$DOMAIN}:443 {
	reverse_proxy freshrss:80 {
	        header_up Host {host}
	        header_up X-Real-IP {remote}
	        header_up X-Forwarded-Proto {scheme}
	        header_up X-Forwarded-Host {host}
	        header_up X-Forwarded-For {remote}
	        header_up X-Forwarded-Ssl {on}
	}
}

recipes.{$DOMAIN} {
	reverse_proxy mealie:9000 {
		header_up X-Real-IP {remote_host}
	}
}

changedetection.{$DOMAIN} {
	reverse_proxy changedetection:5000 {
	        header_up Host "localhost"
	        header_up X-Forwarded-Proto {scheme}
		header_up X-Real-IP {remote_host}
	}
}

syncthing.{$DOMAIN} {
	reverse_proxy syncthing:8384 {
	     header_up X-Forwarded-For {http.request.remote.host}  
	     header_up X-Client-Port {http.request.remote.port}  
	     header_up X-Tls-Client-Cert-Der-Base64 {http.request.tls.client.certificate\_der\_base64}  
	}
}

abs.{$DOMAIN} {
        encode gzip zstd
    	reverse_proxy audiobookshelf:80
}

assistant.{$DOMAIN} {
        encode gzip zstd
    	reverse_proxy homeassistant:8123
}

paperless.{$DOMAIN} {
	reverse_proxy paperlessngx:8000 {
		header_up X-Real-IP {remote_host}
	}
}
