PG_PASS="generate-with-openssl-rand-base64-36"
AUTHENTIK_SECRET_KEY="generate-with-openssl-rand-base64-60"
AUTHENTIK_BOOTSTRAP_PASSWORD="initial-akadmin-password"
AUTHENTIK_BOOTSTRAP_TOKEN="generate-with-openssl-rand-base64-32"
AUTHENTIK_BOOTSTRAP_EMAIL="you@example.com"
AUTHENTIK_TAG="2025.2"
